<!DOCTYPE html>
<html>
  <head>
    <title>Earmark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
    

    <script type="text/javascript"> 
      window.earmark = "<%= image_url('earmark.svg') %>"
      window.earmarkShadow = "<%= image_url('earmark_shadow.svg') %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
